<div class="background-login">

    <div class="login-container">

        <div class="delimiter-30">

            <div class="card">

                <div class="card-body">

                    <h3 class="text-center" style="margin-bottom:1rem">Inicio de sesión</h3>

                    <form class="custom-form" method="post">

                        <div class="mb-3">
                            <div class="form-group">
                                <input type="email" placeholder="Ingrese su nombre de usuario" name="username" class="form-control input-lg" required>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                        
                            <div class="form-group">
                                <input type="password" placeholder="Ingrese contraseña" name="password" class="form-control input-lg" required>
                            </div>
                        
                        </div>
                        
                        <div class="row" style="margin-top: 1rem">

                            <div class="col-md-12 " style="margin-bottom: 1rem;">
                                <button class="btn btn-primary w-100">Iniciar sesion</button>
                            </div>

                            <div class="col-md-12">
                                <a href="Register" class="btn btn-success w-100">Crear cuenta</a>
                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
